@import "./base/reset";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./utils/animations";
@import "./base/common";

@import "./components/buttons";
@import "./components/logo";
@import "./components/socials";
@import "./components/modal";
@import "./components/mobile-menu";
@import "./components/nav";

@import "./layout/_header";
@import "./layout/_hero";
@import "./layout/_feauters";
@import "./layout/_what";
@import "./layout/_team";
@import "./layout/_customers";
@import "./layout/_footer";
@import "./layout/_projekt";