%section-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-primary;
}

%button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    color: $text-light;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    transition: background-color $anim-fast;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $button-hover-color;
    }
}

%button-primary {
    @extend %button;
    color: $text-light;
    background-color: $brand-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

%form-field {
    width: 100%;
    border: 1px solid $border-input;
    border-radius: 4px;
    outline: none;

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}

%call-text {
    margin-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;
    line-height: calc(16 / 14);

    color: $text-light;
}