.footer {
    background-color: $bg-footer;
}

.footer__container {
    @include section;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.footer__column:first-child {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.footer .logo {
    display: inline-block;
    margin-bottom: 28px;
}

.logo__text--light {
    color: $text-light;
}

.footer__address p {
    display: inline-block;
    margin-bottom: 12px;
    font-style: normal;
    line-height: calc(24 / 14);
    color: $text-light;
}

.footer__address-item {
    &:first-child {
        margin-bottom: 12px;
    }
}

.footer__link {
    display: inline-block;
    font-style: normal;
    line-height: calc(24 / 14);
    color: $text-footer-link;
    transition: color $anim-fast;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer__subtitle {
    @extend %call-text;
}

.footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.socials__link--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $text-light;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color $anim-fast, background-color $anim-fast;

    &:hover,
    &:focus {
        color: $text-light;
        background-color: $accent-color;
    }
}

.footer .socials__icon {
    fill: currentColor;
}

.footer__column:last-child {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.subscribe-form {
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
    }
}

.subscribe-form__input {
    margin-bottom: 20px;
    padding: 15px 16px;
    height: 50px;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: $text-light;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: outline $anim-fast;

    @media screen and (max-width: 479px) {
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    &:hover,
    &:focus {
        outline-color: $accent-color;
    }

    &::placeholder {
        color: $text-footer-link;
    }

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        width: 358px;
    }
}

.subscribe-form__icon {
    fill: currentColor;
}