.hero {
    // Мобільний 1x
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #2F303A; 
    background-image: linear-gradient($bg-hero-overlay, $bg-hero-overlay),
        url(../img/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    // Мобільний 2x
    @media (min-device-pixel-ratio: 2),
           (-webkit-min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
        background-image: linear-gradient($bg-hero-overlay, $bg-hero-overlay),
            url(../img/hero/hero-mobile@2x.jpg);
    }

    // Планшет 1x
    @media screen and (min-width: $tablet) {
        background-image: linear-gradient($bg-hero-overlay, $bg-hero-overlay),
            url(../img/hero/hero-tablet.jpg);

        // Планшет 2x
        @media (min-device-pixel-ratio: 2),
               (-webkit-min-device-pixel-ratio: 2),
               (min-resolution: 192dpi),
               (min-resolution: 2dppx) {
            background-image: linear-gradient($bg-hero-overlay, $bg-hero-overlay),
                url(../img/hero/hero-tablet@2x.jpg);
        }
    }

    // Десктоп 1x
    @media screen and (min-width: $desktop) {
        padding-top: 200px; 
        padding-bottom: 200px;
        background-image: linear-gradient($bg-hero-overlay, $bg-hero-overlay),
            url(../img/hero/hero-desktop.jpg);

        // Десктоп 2x
        @media (min-device-pixel-ratio: 2),
               (-webkit-min-device-pixel-ratio: 2),
               (min-resolution: 192dpi),
               (min-resolution: 2dppx) {
            background-image: linear-gradient($bg-hero-overlay, $bg-hero-overlay),
                url(../img/hero/hero-desktop@2x.jpg);
        }
    }
}

.hero__container {
    text-align: center;
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $text-light;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero_button{
    transform: translateY(-2px);
}