// Portfolio header
.header {
    border-bottom: 1px solid $border-header;
}

// Portfolio Page Sections
.filters {
    @include section;

    @media screen and (min-width: $desktop) {
        @include section(94px, 49px);
    }
}

.project {
    @include section;

    @media screen and (min-width: $desktop) {
        @include section(0px, 94px);
    }

    background-color: $bg-light;
}

.project__list {
    display: flex;
    flex-wrap: wrap;
    gap: $indent;

    --items: 1;

    @media screen and (min-width: $tablet) {
        --items: 2;
    }

    @media screen and (min-width: $desktop) {
        --items: 3;

        min-height: 1275px;
    }
}

.project__item {
    flex-basis: calc((100% - ($indent * (var(--items) - 1))) / var(--items));
}

.project__image {
    display: block;
    width: 100%;
    height: auto;
}

.project__link {
    display: block;
    transition: box-shadow $anim-fast;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project__content {
    padding: 20px 24px;

    border: 1px solid $border-portfolio;
    border-top: none;
}

.project__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);

    letter-spacing: 0.06em;

    color: $text-primary;
}

.project__category {
    font-size: 16px;
    line-height: calc(30 / 16);

    color: $text-secondary;
}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;

    background-color: $bg-overlay;

    transform: translateY(100%);

    transition: transform $anim-fast;
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
    transform: translateY(0);
}

.project__overlay-text {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: $text-light;
}