.what-section{
    display: none;
    @include section;

    @media screen and (min-width: 1200px) {
        display: block;
        @include section(94px, 94px);
    }

    background-color: $bg-light;
    padding-top: 0;
}

.what-section__title {
    @extend %section-title;
    margin-bottom: 60px;
}

.what-section__list {
    @include flex-settings($gap: 30px);
}

.what-section__item {
    position: relative;
}

.what-section__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}

.what-section__label {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-light;
}