.hero__button {
    @extend %button;
    width: 216px;
    height: 50px;
}

.subscribe-form__button {
    @extend %button;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 28px;
}

// Filters
.filters__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media screen and (min-width: $tablet) {
        justify-content: center;
    }
}

.filters__button {
    @extend %button;
    padding: 6px 22px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-primary;
    background-color: $bg-light-section;
    box-shadow: none;
    transition: color $anim-fast, background-color $anim-fast, box-shadow $anim-fast;

    &:hover,
    &:focus {
        color: $text-light;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.modal__btn--close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-light;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &:hover .modal__icon,
    &:focus .modal__icon {
        fill: $accent-color;
        transform: rotate(180deg);
    }
}

.form__btn {
    @extend %button;
    display: block;
    padding: 10px 52px;
    margin: 15px auto 0;
}
