.menu__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    padding: 0;

    color: $text-primary;
    background-color: transparent;
    border: none;
    outline: none;

    transition: color $anim-fast;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

@media screen and (min-width: $tablet) {
    .menu__toggle {
        display: none;
    }
}

.menu__container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;

    background-color: $bg-light;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);

    z-index: $menu-idx;

    transform: translateX(100%);
    transition: transform $anim-fast;
}

.menu__container.is-open {
    transform: translateX(0);
}

.menu__toggle--close {
    position: absolute;
    top: 21px;
    right: 25px;
}

.menu__list--nav,
.menu__contacts--nav,
.menu__list--socials {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link,
.menu__link--tel,
.menu__link--mail,
.menu__link--socials {
    text-decoration: none;
}

.menu__link {
    @include font-settings(40px);
    color: $text-primary;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.menu__link--current {
    color: $accent-color;
}

.menu__link--tel {
    @include font-settings(34px);
    color: $accent-color;
}

.menu__link--mail {
    @include font-settings(24px, $height: 1.16);
    color: $text-secondary;
}

.menu__list--nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: auto;
}

.menu__contacts--nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

.menu__list--socials {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
}

.menu__item--socials {
    position: relative;
}

.menu__link--socials {
    @include font-settings(18px, $height: 1.22);
    color: $accent-color;
}

.menu__item--socials:not(:last-child)::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 1px;
    height: 22px;

    transform: translateY(-50%);

    background-color: $border-input;
}