.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $modal-idx;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity $anim-fast, visibility $anim-fast;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    @include position-center;

    padding: 40px;
    width: 450px;
    height: 609px;

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
    }

    background-color: $bg-light;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);

    transition: transform $anim-fast,
    scale $anim-fast;
}

.modal__icon {
    fill: $text-dark;
    transition: fill $anim-fast, transform $anim-fast;
}

.modal__label {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;

    color: $text-primary;

    @media screen and (min-width: $desktop) {
        line-height: calc(23 / 20);
    }
}

.form__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $text-secondary;
}

.form__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.form__field {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    border: 1px solid $border-input;
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline $anim-fast;

    &:hover,
    &:focus {
        outline-color: $accent-color;
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill $anim-fast;
}

.form__field:hover+.form__icon,
.form__field:focus+.form__icon {
    fill: $accent-color;
}

.form__message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    resize: none;

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;

    @media screen and (min-width: $desktop) {
        font-size: 12px;
        line-height: calc(14 / 12);
    }

    border: 1px solid $border-input;
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition: outline $anim-fast;

    &:hover,
    &:focus {
        outline-color: $accent-color;
    }

    &::placeholder {
        color: rgba($text-secondary, 0.5);
    }
}

.agreement__desc {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: $text-primary;
    user-select: none;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.agreement__icon {
    flex-shrink: 0;
    fill: $border-color;
    transition: fill $anim-fast;
}

.agreement__checkbox:checked+.agreement__icon .uncheck {
    opacity: 0;
}

.agreement__checkbox:checked+.agreement__icon .check {
    opacity: 1;
}

.uncheck {
    opacity: 1;
    transition: opacity $anim-fast;
}

.check {
    opacity: 0;
    transition: opacity $anim-fast;
}

.agreement__checkbox:checked+.agreement__icon {
    fill: $accent-color;
}

.agreement__checkbox:focus+.agreement__icon {
    outline: 2px solid $accent-color;
    outline-offset: 1px;
    border-radius: 2px;
}

.agreement__link {
    color: $accent-color;
    text-underline-offset: 2px;
}