.header__nav {
    @include flex-settings($align: center); 
}

.nav {
    @include flex-settings($align: center);
    @media screen and (min-width: 768px) {
        margin-right: auto;
    }
}


.header__nav-list {
    display: none;

    @media screen and (min-width: 768px) {
        @include flex-settings($align: center); 
    }
}


.header__nav-item:not(:last-child) {
    margin-right: 50px;
}


.header__nav-link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: $text-primary; 
    @include transition(color); 

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;

        transform: translateX(-50%) scaleX(0.3);

        display: block;
        width: 100%;
        height: 4px;

        border-radius: 2px;

        background-color: $accent-color;
        opacity: 0;
        transition: transform $anim-fast, opacity $anim-fast; 
    }

    &:hover::after,
    &:focus::after {
        transform: translateX(-50%) scaleX(1);
        opacity: 1;
    }
}

.header__nav-item.current .header__nav-link {
    color: $accent-color; 

    &::after {
        transform: translateX(-50%) scaleX(1);
        opacity: 1;
    }
}


