.socials {
    @include flex-settings($align: center, $justify: center, $gap: 10px);
}

.socials__link {
    @include flex-settings($align: center, $justify: center);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icon-primary;
    @include transition(color);
    @include transition(background-color);

    &:hover,
    &:focus {
        color: $text-light;
        background-color: $accent-color;
    }
}

.socials__icon {
    fill: currentColor;
}

.socials__link--footer {
    color: $text-light;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
        color: $text-light;
        background-color: $accent-color;
    }
}